<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Wikispeech usage</title>
</head>

<body>
<h1>Wikispeech usage</h1>

USAGE: wikispeech/?lang=LANG&input=TEXT
<br>
Supported languages are: {{ languages }}
<p/>
<b>EXAMPLES</b><br/>
US English: <a href='{{ server }}wikispeech/?lang=en&input=A+test'>{{ server }}wikispeech/?lang=en&input=A test</a><br/>
Swedish: <a href='{{ server }}wikispeech/?lang=sv&input=Vi%20testar%20talsyntes'>{{ server }}wikispeech/?lang=sv&input=Vi%20testar%20talsyntes</a>

<hr>
Other things to try:
<br>
<a href='{{ server }}wikispeech/languages'>{{ server }}wikispeech/languages</a>
<hr>
<a href='{{ server }}wikispeech/textprocessing/languages'>{{ server }}wikispeech/textprocessing/languages</a>
<br>
<a href='{{ server }}wikispeech/textprocessing/textprocessors'>{{ server }}wikispeech/textprocessing/textprocessors</a>
<br>
<a href='{{ server }}wikispeech/textprocessing/textprocessors/en'>{{ server }}wikispeech/textprocessing/textprocessors/en</a>
<hr>
<a href='{{ server }}wikispeech/synthesis/languages'>{{ server }}wikispeech/synthesis/languages</a>
<br>
<a href='{{ server }}wikispeech/synthesis/voices'>{{ server }}wikispeech/synthesis/voices</a>
<br>
<a href='{{ server }}wikispeech/synthesis/voices/en'>{{ server }}wikispeech/synthesis/voices/en</a>
<hr>
Textprocessing examples:
<br>
<a href='{{ server }}wikispeech/textprocessing/?lang=en&input=A+test'>{{ server }}/wikispeech/textprocessing/?lang=en&input=A test</a>
<br>
<a href='{{ server }}wikispeech/textprocessing/?lang=en&input=A+test'>{{ server }}/wikispeech/textprocessing/?lang=sv&input=Vi testar talsyntes</a>
<br>
Tokenisation example:
<br>
<a href='{{ server }}wikispeech/textprocessing/?lang=en&input=A+test&textprocessor=basic_en&process=tokenise'>{{ server }}/wikispeech/textprocessing/?lang=en&input=A test&textprocessor=basic_en&process=tokenise</a>
<br>
Basic synthesis example:
<br>
<a href='{{ server }}wikispeech/?lang=en&input=A+test&textprocessor=basic_en&voice=cmu-slt-flite'>{{ server }}wikispeech/?lang=en&input=A+test&textprocessor=basic_en&voice=cmu-slt-flite</a>

<hr>
<address></address>
<!-- hhmts start -->Last modified: Tue May 30 08:54:34 CEST 2017 <!-- hhmts end -->
</body> </html>
