# go is for pronlex
#language: go
#go:
#  - "1.10"

# java is for marytts
#language: java
jdk:
 - openjdk11

language: python
python:
   - "3.6"
  
before_install:
 - set -e

notifications:
  email:
    on_success: change
    on_failure: change

env:
 - RELEASE=master
 - RELEASE=master DO_IMPORT=1

# https://blog.travis-ci.com/2017-12-12-new-trusty-images-q4-launch
# sudo: required
# dist: trusty
# group: deprecated-2017Q4
 
# for marytts
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

install:
 - hostname -I
 - hostname -i
 - sudo apt-get purge golang* || echo "No old golang packages to delete"
 - wget https://dl.google.com/go/go1.13.6.linux-amd64.tar.gz
 - sudo tar -C /usr/local -xzf go1.13.6.linux-amd64.tar.gz
 - export PATH=/usr/local/go/bin:$PATH
 - export GOPATH=$HOME/go
 - export GOROOT=/usr/local/go
 - which go && go version && go env

 - sudo apt-get install opus-tools
 - sudo pip install --upgrade pip
 - pip install -r requirements.txt

# command to run tests
script:
 - set -e
 - export basedir=`pwd`
 
 # PRONLEX
 - mkdir -p $GOPATH/src/github.com/stts-se && cd $GOPATH/src/github.com/stts-se/
 - git clone https://github.com/stts-se/pronlex.git
 - cd pronlex
 - git checkout $RELEASE || echo "No such release for pronlex. Using master."
 - go get ./...
 - bash install/setup.sh /tmp/appdir
 - bash install/start_server.sh -a /tmp/appdir &
 - export pronlex_pid=$!
 - echo "pronlex started with pid $pronlex_pid"
 - sleep 20
 
 # MARYTTS
 - cd $basedir
 - git clone https://github.com/stts-se/marytts.git
 - cd marytts
 - git checkout $RELEASE || echo "No such release for marytts. Using master."
 - ./gradlew check
 - ./gradlew assembleDist
 - ./gradlew test
 - ./gradlew run &
 - export marytts_pid=$!
 - echo "marytts started with pid $marytts_pid"
 - sleep 20
 
 # WIKISPEECH MINIMAL
 - cd $basedir
 - python3 bin/wikispeech docker/config/travis-min.conf &
 - export wikispeech_pid=$!  
 - echo "wikispeech started with pid $wikispeech_pid"
 - sleep 20
 - sh .travis/exit_server_and_fail_if_not_running.sh wikispeech $wikispeech_pid
 
 # AHOTTS
 - cd $basedir
 - git clone https://github.com/stts-se/AhoTTS-eu-Wikispeech.git
 - cd AhoTTS-eu-Wikispeech
 - git checkout $RELEASE || echo "No such release for ahotts. Using master."
 - sh script_compile_all_linux.sh && mkdir -p txt wav
 - cp $basedir/start_ahotts_wikispeech.sh .
 - sh start_ahotts_wikispeech.sh &
 - export ahotts_pid=$!
 - echo "ahotts started with pid $ahotts_pid"
 - sleep 20

 # WIKISPEECH FULL
 - cd $basedir
 - python3 bin/wikispeech docker/config/travis.conf &
 - export wikispeech_pid=$!  
 - echo "wikispeech started with pid $wikispeech_pid"
 - sleep 20
 
 - sh .travis/exit_server_and_fail_if_not_running.sh wikispeech $wikispeech_pid
 - sh .travis/exit_server_and_fail_if_not_running.sh marytts $marytts_pid
 - sh .travis/exit_server_and_fail_if_not_running.sh pronlex $pronlex_pid
 - sh .travis/exit_server_and_fail_if_not_running.sh ahotts $ahotts_pid
 
 - docker build . -t wikispeech
