<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Wikispeech usage</title>
</head>

<body>
<h1>Wikispeech usage</h1>

USAGE: wikispeech/?lang=LANG&input=TEXT
<br>
Supported languages are: {{ languages }}
<br>
EXAMPLE: <a href='{{ server }}wikispeech/?lang=sv&input=Det här är ett test'>{{ server }}/wikispeech/?lang=sv&input=Det här är ett test</a>
<hr>
Other things to try:
<br>
<a href='{{ server }}wikispeech/textprocessing/languages'>{{ server }}wikispeech/textprocessing/languages</a>
<br>
<a href='{{ server }}wikispeech/textprocessing/languages/sv'>{{ server }}wikispeech/textprocessing/languages/sv</a>
<br>
<a href='{{ server }}wikispeech/synthesis/voices'>{{ server }}wikispeech/synthesis/voices</a>
<br>
<a href='{{ server }}wikispeech/synthesis/voices/sv'>{{ server }}wikispeech/synthesis/voices/sv</a>
<br>



<hr>
<address></address>
<!-- hhmts start -->Last modified: Fri Jun 10 12:29:43 CEST 2016 <!-- hhmts end -->
</body> </html>
